In [5]:
import pandas as pd
import yfinance as yf
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline 
%config InlineBackend.figure_format = 'retina'

# Load Data 

## SET50 Stock List

https://marketdata.set.or.th/mkt/sectorquotation.do?language=th&country=TH&market=SET&sector=SET50

In [6]:
symbollist = pd.read_html('https://marketdata.set.or.th/mkt/sectorquotation.do?language=th&country=TH&market=SET&sector=SET50')[2]
symbollist.iloc[:,0]

0     ADVANC
1        AOT
2        AWC
3      BANPU
4        BBL
5       BDMS
6        BEM
7      BGRIM
8         BH
9        BTS
10       CBG
11      COM7
12     CPALL
13       CPF
14       CPN
15       CRC
16      DTAC
17        EA
18      EGCO
19    GLOBAL
20      GPSC
21      GULF
22     HMPRO
23    INTUCH
24      IRPC
25       IVL
26     KBANK
27       KCE
28       KTB
29       KTC
30        LH
31      MINT
32       MTC
33        OR
34       OSP
35       PTT
36     PTTEP
37     PTTGC
38     RATCH
39     SAWAD
40       SCB
41       SCC
42      SCGP
43      STGT
44    TIDLOR
45     TISCO
46       TOP
47      TRUE
48       TTB
49        TU
Name: หลักทรัพย์, dtype: object

In [7]:
start = '2011-01-01'
end   = '2020-12-31'

In [8]:
for symbol in symbollist.iloc[:,0].values:
    df =  yf.download(symbol+".BK", start = start, end= end, progress=False)
    if symbol=="COM7":
        symbol = "COMSEVEN"   
    df.to_csv(f"Data_Raw/{symbol}.csv")

1 Failed download:
- OR.BK: Data doesn't exist for startDate = 1293814800, endDate = 1609347600

1 Failed download:
- TIDLOR.BK: Data doesn't exist for startDate = 1293814800, endDate = 1609347600